{%extends "padre.html" %}
{%block titulo%} 
Ahora que ya los conoces, buscalos por su nombre y averigua mas datos sobre nuestros amigos 
<h2>Tambien puedes buscar tu cachorro personalizado.</h2>

<form action="/resultados/" method="GET">
    <input type="text" name="nombre">
    <input type="submit" value="Buscar">
</form>

{%for x in nombre%}
<p> Nombre = {{x.nombre}}</p>
<p> Raza = {{x.raza}}</p>
<p> Habilidad = {{x.habilidad}}</p>
<p> Vehiculo = {{x.vehiculo}}</p>

{%endfor%}   

{%endblock%}
