{%extends "padre.html" %}
{%block titulo%} Ellos nos ayudan a mantener el orden en Bahia Aventura {%endblock%}

{%block imagenes%} 
<p><img src="https://i.pinimg.com/564x/f5/14/f0/f514f0003d030ca7cd25eba58ac9b384.jpg" 
alt="Aerodeslizador", width="350" class="imagen-zumaV"></p>    

<p><img src="https://http2.mlstatic.com/D_NQ_NP_840902-MLA40143664066_122019-O.webp" 
alt="Camion Recolector", width="350" class="imagen-rockyV"></p>

<p><img src="https://i.pinimg.com/564x/f7/09/5a/f7095a01cb79079ceb45c754df7e1d25.jpg" 
alt="Camion de Construccion", width="280" class="imagen-rubbleV"></p>
    
<p><img src="https://i.pinimg.com/564x/1a/d1/cc/1ad1ccf1f10b1c710b14a4bfda2114d9.jpg" 
alt="Cuatriciclo", width="300" class="imagen-rayderV"></p>

{%endblock%}

{%block posicion%} 
<style>
    .imagen-zumaV {
        position: absolute;
        top: 1000px;
        left: 25px;
    }
</style>

<style>
    .imagen-rockyV {
        position: absolute;
        top: 1350px;
        right: 100px;
    }
</style>

<style>
    .imagen-rubbleV {
        position: absolute;
        top: 1500px;
        left: 80px;
    }
</style>

<style>
    .imagen-rayderV {
        position: absolute;
        top: 1750px;
        right: 100px;
    }
</style>
{%endblock%}

{%block texto%}

    <style>
        .posicion-especifica-zumaV {
            position: absolute;
            top: 1150px;
            left: 300px;
        }
    </style>

<body>
    <div class="posicion-especifica-zumaV">
       <p> Zuma tiene un aerodeslizador naranja. Zuma puede disparar 
        anillos salvavidas desde el aerodeslizador. También puede transformarse en submarino </p>
    </div>
</body>

<style>
    .posicion-especifica-rockyV {
        position: absolute;
        top: 1400px;
        left: 50px;
    }
</style>

<body>
<div class="posicion-especifica-rockyV">
   <p>Rocky tiene un camión de reciclaje ecológico. Allí almacena piezas viejas que
     pueden usarse más adelante.</p><p> También puede transformarse en remolcador.</p>
</div>
</body>

<style>
    .posicion-especifica-rubbleV {
        position: absolute;
        top: 1650px;
        left: 350px;
    }
</style>

<body>
<div class="posicion-especifica-rubbleV">
    <p>Rubble tiene una topadora amarilla. En la parte trasera hay un brazo perforador y 
        también una pala para excavadora </p>
</div>
</body>

<style>
    .posicion-especifica-rayderV {
        position: absolute;
        top: 1900px;
        left: 25px;
        
    }
</style>

<body>
<div class="posicion-especifica-rayderV">
   <p>Ryder tiene un vehículo todo terreno rojo que se transforma en una moto de agua y una moto de nieve.
   </p><p>transformación del vehículo está controlada por su Pup-Pad. Si presiona un botón, 
     puede desplegar un chaleco</p><p>salvavidas antes de navegar hacia la bahía. </p>
</div>
</body>

{%endblock%}
